@using MT.Models
@model IEnumerable<Table>
@{

    TempData.Keep();
}


<div class="text-center">
    
        <h2>Detected tables</h2>
      <div class="table-responsive">
        <table id="edit" class="table table-striped table-sm">
          <thead>
            <tr>            
              <th scope="col">Table name</th>
              <th scope="col">Row count</th>
              <th scope="col">Column count</th>
              <th scope="col">Modifications</th>

                </tr>              
          </thead>
          <tbody>
                @if (Model == null)
                {
                    <div class="alert">
                        <strong>Upload an Excel document first!</strong>
                    </div>
                }
                else{
                @foreach (Table t in Model)
                {
                <tr>              
                    <td>@t.tableName</td>                        
                    <td>@t.rowCount</td> 
                    <td>@t.columnCount</td> 
                        <td>@Html.ActionLink("Preview |", "Preview", new {name = t.tableName}) 
                        
                                @Html.ActionLink("Edit |", "Edit", new {name = t.tableName})
                        
                        <a href="" onclick="Delete('@t.tableName')">Delete</a>                    
                    </td>
                    
                </tr>
              } }
          </tbody>
          </table>
          </div>    
          </div>

    <div class="row mt-3">
        <form id = "form" asp-action="TableView" method="post" style="width: auto; margin: 0 10%;">
            <button type="submit">Upload to database </button>
        </form>

        <form asp-action="Export" method="get" style="width: auto; margin: 0 10%;">    
            <button type="submit">Export data model to JSON</button>
        </form>
    </div>

@if (ViewBag.Message == "Success")
{
    <div class ="alert success">
        <strong>Tables successfully uploaded to database</strong>
    </div>
    
}
@if (ViewBag.Message == "Error")
{
    <div class="alert error">
        <strong>Error while uploading tables to database</strong>
    </div>

}
 
<script>
    $(function () {
        $('#Delete').DataTable();
    });
    function Delete(name){
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {
            
            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Delete", "Home")',
                data: {
                    name: name
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        var baseUrl="/Table/TableView";
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
        } 
    }        
</script>